schemas/SDMXStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright SDMX 2021 - http://www.sdmx.org -->
<xs:schema targetNamespace="http://www.sdmx.org/resources/sdmxml/schemas/v3_0/structure" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.sdmx.org/resources/sdmxml/schemas/v3_0/structure" xmlns:structure="http://www.sdmx.org/resources/sdmxml/schemas/v3_0/structure">
	<xs:include schemaLocation="SDMXStructureBase.xsd"/>
	<xs:include schemaLocation="SDMXStructureCategorisation.xsd"/>
	<xs:include schemaLocation="SDMXStructureCategory.xsd"/>
	<xs:include schemaLocation="SDMXStructureCodelist.xsd"/>
	<xs:include schemaLocation="SDMXStructureConcept.xsd"/>
	<xs:include schemaLocation="SDMXStructureConstraint.xsd"/>
	<xs:include schemaLocation="SDMXStructureDataStructure.xsd"/>
	<xs:include schemaLocation="SDMXStructureDataflow.xsd"/>
	<xs:include schemaLocation="SDMXStructureHierarchicalCodelist.xsd"/>
	<xs:include schemaLocation="SDMXStructureMetadataflow.xsd"/>
	<xs:include schemaLocation="SDMXStructureMetadataStructure.xsd"/>
	<xs:include schemaLocation="SDMXStructureOrganisation.xsd"/>
	<xs:include schemaLocation="SDMXStructureProvisionAgreement.xsd"/>
	<xs:include schemaLocation="SDMXStructureProcess.xsd"/>
	<xs:include schemaLocation="SDMXStructureReportingTaxonomy.xsd"/>
	<xs:include schemaLocation="SDMXStructureStructureMappings.xsd"/>
	<xs:include schemaLocation="SDMXStructureTransformation.xsd"/>

	<xs:annotation>
		<xs:appinfo>SDMX Structure Namespace Module</xs:appinfo>
		<xs:documentation>The structure namespace module contains the descriptions of structural metadata such as key families, concepts, and codelists. For convenience, this module has been broken down into sub-modules for the different type of structural constructs.</xs:documentation>
	</xs:annotation>
	
	<xs:element name="Structures" type="StructuresType">
		<xs:annotation>
			<xs:documentation>Structures contains constructs for all structural metadata components.</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType name="StructuresType">
		<xs:annotation>
			<xs:documentation>StructuresType describes the structure of the container for all structural metadata components. The structural components may be explicitly detailed, or referenced from an external structure document or registry service. Best practices dictate that, at a minimum, any structural component that is referenced by another structural component be included by reference.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrganisationSchemes" type="OrganisationSchemesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>OrganisationSchemes contains a collection of organisation scheme descriptions. The organisation schemes may be detailed in full, or referenced from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UniqueAgencyScheme">
					<xs:selector xpath="structure:AgencyScheme"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
				<xs:unique name="UniqueDataConsumerScheme">
					<xs:selector xpath="structure:DataConsumerScheme"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
				<xs:unique name="UniqueDataProviderScheme">
					<xs:selector xpath="structure:DataProviderScheme"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
				<xs:unique name="UniqueMetaataProviderScheme">
					<xs:selector xpath="structure:MetadataProviderScheme"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
				<xs:unique name="UniqueOrganisationUnitScheme">
					<xs:selector xpath="structure:OrganisationUnitScheme"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
			</xs:element>
			<xs:element name="Dataflows" type="DataflowsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Dataflows contains a collection of data flow descriptions. The data flows may be detailed in full, or referenced from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UniqueDataflow">
					<xs:selector xpath="structure:Dataflow"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
			</xs:element>
			<xs:element name="Metadataflows" type="MetadataflowsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Metadataflows contains a collection of metadata flow descriptions. The metadata flows may be detailed in full, or referenced from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UniqueMetadataflow">
					<xs:selector xpath="structure:Metadataflow"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
			</xs:element>
			<xs:element name="CategorySchemes" type="CategorySchemesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CategorySchemes contains a collection of category scheme descriptions. The category schemes may be detailed in full, or referenced from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UniqueCategoryScheme">
					<xs:selector xpath="structure:CategoryScheme"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
			</xs:element>
			<xs:element name="Categorisations" type="CategorisationsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Categorisations contains a collection of structural object categorisations. This container may contain categorisations for many types of objects. The categorisations may be detailed in full, or referenced from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UniqueCategorisation">
					<xs:selector xpath="structure:Categorisation"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
			</xs:element>
			<xs:element name="Codelists" type="CodelistsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Codelists contains a collection of code list descriptions. The code lists may be detailed in full, or referenced from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UniqueCodelist">
					<xs:selector xpath="structure:Codelist"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
				<xs:unique name="UniqueGeographicCodelist">
					<xs:selector xpath="structure:GeographicCodelist"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
				<xs:unique name="UniqueGeoGridCodelist">
					<xs:selector xpath="structure:GeoGridCodelist"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
				<xs:unique name="UniqueValueList">
					<xs:selector xpath="structure:ValueList"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
			</xs:element>
			<xs:element name="Hierarchies" type="HierarchiesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hierarchies contains a collection of hierarchical code list descriptions. The hierarchical code lists may be detailed in full, or referenced from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UniqueHierarchy">
					<xs:selector xpath="structure:Hierarchy"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
			</xs:element>
			<xs:element name="HierarchyAssociations" type="HierarchyAssociationsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HierarchyAssociations contains a collection of hierarchy associations. The associations may be detailed in full, or referenced from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UniqueHierarchyAssociation">
					<xs:selector xpath="structure:HierarchyAssociation"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
			</xs:element>
			<xs:element name="Concepts" type="ConceptsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Concepts contains a collection of concept descriptions. The concepts described are contained within schemes. The concepts may be detailed in full, or referenced from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UniqueConceptScheme">
					<xs:selector xpath="structure:ConceptScheme"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
			</xs:element>
			<xs:element name="MetadataStructures" type="MetadataStructuresType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>MetadataStructures contains a collection of metadata structure definition descriptions. The metadata structure definitions may be detailed in full, or referenced from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UniqueMetadataStructure">
					<xs:selector xpath="structure:MetadataStructure"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
			</xs:element>
			<xs:element name="DataStructures" type="DataStructuresType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DataStructures contains a collection of data structure definitions. The data structure definitions may be detailed in full, or referenced from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UniqueDataStructure">
					<xs:selector xpath="structure:DataStructure"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
			</xs:element>
			<xs:element name="StructureMappings" type="StructureMappingsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>StructureMappings contains a collection of structure mapping descriptions. The structure mappings may be detailed in full, or referenced from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UniqueStructureMap">
					<xs:selector xpath="structure:StructureMap"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
				<xs:unique name="UniqueRepresentationMap">
					<xs:selector xpath="structure:RepresentationMap"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
				<xs:unique name="UniqueConceptSchemeMap">
					<xs:selector xpath="structure:ConceptSchemeMap"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
				<xs:unique name="UniqueCategorySchemeMap">
					<xs:selector xpath="structure:CategorySchemeMap"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
				<xs:unique name="UniqueOrganisationSchemeMap">
					<xs:selector xpath="structure:OrganisationSchemeMap"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
				<xs:unique name="UniqueReportingTaxonomyMap">
					<xs:selector xpath="structure:ReportingTaxonomyMap"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
			</xs:element>
			<xs:element name="ReportingTaxonomies" type="ReportingTaxonomiesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ReportingTaxonomies contains a collection of reporting taxonomy descriptions. The reporting taxonomies may be detailed in full, or referenced from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UniqueReportingTaxonomy">
					<xs:selector xpath="structure:ReportingTaxonomy"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
			</xs:element>
			<xs:element name="Processes" type="ProcessesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Processes contains a collection of process descriptions. The processes may be detailed in full, or referenced from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UniqueProcess">
					<xs:selector xpath="structure:Process"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
			</xs:element>
			<xs:element name="Constraints" type="ConstraintsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Constraints contains a collection of constraint descriptions. This container may contain both attachment and content constraints. The constraints may be detailed in full, or referenced from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UniqueAttachmentConstraint">
					<xs:selector xpath="structure:AttachmentConstraint"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
				<xs:unique name="UniqueContentConstraint">
					<xs:selector xpath="structure:ContentConstraint"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
			</xs:element>
			<xs:element name="ProvisionAgreements" type="ProvisionAgreementsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ProvisionAgreements contains a collection of provision agreements. The provision agreements may be detailed in full, or referenced from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UniqueProvisionAgreement">
					<xs:selector xpath="structure:ProvisionAgreement"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
				<xs:unique name="UniqueMetadataProvisionAgreement">
					<xs:selector xpath="structure:MetadataProvisionAgreement"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
			</xs:element>
			<xs:element name="CustomTypes" type="CustomTypesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CustomTypes contains a collection of custom type schemes. The scheme may be detailed in full, or referenced from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UniqueCustomTypeScheme">
					<xs:selector xpath="structure:CustomTypeScheme"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
			</xs:element>
			<xs:element name="VtlMappings" type="VtlMappingsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>VtlMappings contains a collection of VTL mapping schemes. The scheme may be detailed in full, or referenced from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UniqueVtlMappingScheme">
					<xs:selector xpath="structure:VtlMappingScheme"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
			</xs:element>
			<xs:element name="NamePersonalisations" type="NamePersonalisationsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>NamePersonalisations contains a collection of name personalisation schemes. The scheme may be detailed in full, or referenced from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UniqueNamePersonalisationScheme">
					<xs:selector xpath="structure:NamePersonalisationScheme"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
			</xs:element>
			<xs:element name="Rulesets" type="RulesetsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Rulsets contains a collection of ruleset schemes. The scheme may be detailed in full, or referenced from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UniqueRulesetScheme">
					<xs:selector xpath="structure:RulesetScheme"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
			</xs:element>
			<xs:element name="Transformations" type="TransformationsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Transformations contains a collection of transformation schemes. The transformation schemes may be detailed in full, or referenced from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UniqueTransformationScheme">
					<xs:selector xpath="structure:TransformationScheme"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
			</xs:element>
			<xs:element name="UserDefinedOperators" type="UserDefinedOperatorsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>UserDefinedOperators contains a collection of user defined operator schemes. The scheme may be detailed in full, or referenced from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UniqueUserDefinedOperatorScheme">
					<xs:selector xpath="structure:UserDefinedOperatorScheme"/>
					<xs:field xpath="@id"/>
					<xs:field xpath="@agencyID"/>
					<xs:field xpath="@version"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="OrganisationSchemesType">
		<xs:annotation>
			<xs:documentation>OrganisationSchemesType describes the structure of the organisation schemes container. It contains one or more organisation scheme, which can be explicitly detailed or referenced from an external structure document or registry service.</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="AgencyScheme" type="AgencySchemeType">
				<xs:annotation>
					<xs:documentation>AgencyScheme provides the details of an agency scheme, in which agencies are described.</xs:documentation>
				</xs:annotation>
				<xs:unique name="AgencyScheme_UniqueAgency">
					<xs:selector xpath="structure:Agency"/>
					<xs:field xpath="@id"/>
				</xs:unique>				
			</xs:element>
			<xs:element name="DataConsumerScheme" type="DataConsumerSchemeType">
				<xs:annotation>
					<xs:documentation>DataConsumerScheme provides the details of an data consumer scheme, in which data consumers are described.</xs:documentation>
				</xs:annotation>
				<xs:unique name="DataConsumerScheme_UniqueDataConsumer">
					<xs:selector xpath="structure:DataConsumer"/>
					<xs:field xpath="@id"/>
				</xs:unique>
			</xs:element>
			<xs:element name="DataProviderScheme" type="DataProviderSchemeType">
				<xs:annotation>
					<xs:documentation>DataProviderScheme provides the details of an data provider scheme, in which data providers are described.</xs:documentation>
				</xs:annotation>
				<xs:unique name="DataProviderScheme_UniqueDataProvider">
					<xs:selector xpath="structure:DataProvider"/>
					<xs:field xpath="@id"/>
				</xs:unique>
			</xs:element>
			<xs:element name="MetadataProviderScheme" type="MetadataProviderSchemeType">
				<xs:annotation>
					<xs:documentation>MetadataProviderScheme provides the details of an metadata provider scheme, in which metadata providers are described.</xs:documentation>
				</xs:annotation>
				<xs:unique name="MetadataProviderScheme_UniqueDataProvider">
					<xs:selector xpath="structure:MetadataProvider"/>
					<xs:field xpath="@id"/>
				</xs:unique>
			</xs:element>
			<xs:element name="OrganisationUnitScheme" type="OrganisationUnitSchemeType">
				<xs:annotation>
					<xs:documentation>OrganisationUnitScheme provides the details of an organisation unit scheme, in which organisation units are described.</xs:documentation>
				</xs:annotation>
				<xs:unique name="OrganisationUnitScheme_UniqueOrganisationUnit">
					<xs:selector xpath="structure:OrganisationUnit"/>
					<xs:field xpath="@id"/>
				</xs:unique>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="DataflowsType">
		<xs:annotation>
			<xs:documentation>DataflowsType describes the structure of the data flows container. It contains one or more data flow, which can be explicitly detailed or referenced from an external structure document or registry service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Dataflow" type="DataflowType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Dataflow provides the details of a data flow, which is defined as the structure of data that will be provided for different reference periods.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MetadataflowsType">
		<xs:annotation>
			<xs:documentation>MetadataflowsType describes the structure of the metadata flows container. It contains one or more metadata flow, which can be explicitly detailed or referenced from an external structure document or registry service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Metadataflow" type="MetadataflowType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Metadataflow provides the details of a metadata flow, which is defined as the structure of reference metadata that will be provided for different reference periods</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>	

	<xs:complexType name="CategorySchemesType">
		<xs:annotation>
			<xs:documentation>CategorySchemesType describes the structure of the category schemes container. It contains one or more category scheme, which can be explicitly detailed or referenced from an external structure document or registry service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CategoryScheme" type="CategorySchemeType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>CategoryScheme provides the details of a category scheme, which is the descriptive information for an arrangement or division of categories into groups based on characteristics, which the objects have in common. This provides for a simple, leveled hierarchy or categories.</xs:documentation>
				</xs:annotation>
				<xs:unique name="CategoryScheme_UniqueCategory">
					<xs:selector xpath="structure:Category"/>
					<xs:field xpath="@id"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CategorisationsType">
		<xs:annotation>
			<xs:documentation>CategorisationsType describes the structure of the categorisations container. It contains one or more categorisation of a specific object type, which can be explicitly detailed or referenced from an external structure document or registry service. This container may contain categorisations for multiple types of structural objects.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Categorisation" type="CategorisationType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Categorisation allows for the association of an identifiable object to a category, providing for the classifications of the reference identifiable object. This must either contain the full details of the categorisation, or provide a name and identification information and reference the full details from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CodelistsType">
		<xs:annotation>
			<xs:documentation>CodelistsType describes the structure of the code lists container. It contains one or more codelist (including geographic), which can be explicitly detailed or referenced from an external structure document or registry service.</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="Codelist" type="CodelistType">
				<xs:annotation>
					<xs:documentation>Codelist provides the details of a codelist, which is defined as a list from which some statistical concepts (coded concepts) take their values.</xs:documentation>
				</xs:annotation>
				<xs:unique name="Codelist_UniqueCode">
					<xs:selector xpath="structure:Code"/>
					<xs:field xpath="@id"/>
				</xs:unique>
			</xs:element>
			<xs:element name="GeographicCodelist" type="GeographicCodelistType">
				<xs:annotation>
					<xs:documentation>GeographiCodelist provides the details of a georaphic code list, which comprises a set of GeoFeatureSetCodes, by adding a value in the Code that follows a pattern to represent a geo feature set.</xs:documentation>
				</xs:annotation>
				<xs:unique name="Codelist_UniqueGeoFeatureSetCode">
					<xs:selector xpath="structure:GeoFeatureSetCode"/>
					<xs:field xpath="@id"/>
				</xs:unique>
			</xs:element>
			<xs:element name="GeoGridCodelist" type="GeoGridCodelistType">
				<xs:annotation>
					<xs:documentation>GeoGridCodelist provides the details of a georaphic grid code list, which comprises a set of GridCodes, which are related to the gridDefinition specified in the GeoGridCodelist.</xs:documentation>
				</xs:annotation>
				<xs:unique name="Codelist_UniqueGeoGridCode">
					<xs:selector xpath="structure:GeoGridCode"/>
					<xs:field xpath="@id"/>
				</xs:unique>
			</xs:element>
			<xs:element name="ValueList" type="ValueListType">
				<xs:annotation>
					<xs:documentation>ValueList provides the details of a value list, which is a closed set of values that can occur for a dimension, measure, or attribute. This may be a simple list of values, or a list of values with names and descriptions (similar to a codelist).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="HierarchiesType">
		<xs:annotation>
			<xs:documentation>HierarchiesType describes the structure of the hierarchies container. It contains one or more hierarchy, which can be explicitly detailed or referenced from an external structure document or registry service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Hierarchy" type="HierarchyType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Hierarchy provides the details of a hierarchy, which is defined as an organised collection of codes that may participate in many parent/child relationships with other codes in the list.</xs:documentation>
				</xs:annotation>
				<xs:unique name="Hierarchiy_UniqueLevel">
					<xs:selector xpath=".//structure:Level"/>
					<xs:field xpath="@id"/>
				</xs:unique>
				<xs:unique name="Hierarchiy_UniqueHierarchicalCode">
					<xs:selector xpath=".//structure:HierarchicalCode"/>
					<xs:field xpath="@id"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="HierarchyAssociationsType">
		<xs:annotation>
			<xs:documentation>HiearchyAssociationsType describes the structure of the hierarchy assoications container. It contains one or more hiearchy associations, which can be explicitly detailed or referenced from an external structure document or registry service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="HierarchyAssociation" type="HierarchyAssociationType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>HierarchyAssociation provides the details of a hiearchy assoication, which associates a hiearchy with an identifiable object in the context of another object.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ConceptsType">
		<xs:annotation>
			<xs:documentation>ConceptsType describes the structure of the concepts container. It contains one or more concept schemes, which can be explicitly detailed or referenced from an external structure document or registry service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ConceptScheme" type="ConceptSchemeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>ConceptScheme provides the details of a concept scheme, which is the descriptive information for an arrangement or division of concepts into groups based on characteristics, which the objects have in common. It contains a collection of concept definitions, that may be arranged in simple hierarchies.</xs:documentation>
				</xs:annotation>
				<xs:unique name="ConceptScheme_UniqueConcept">
					<xs:selector xpath="structure:Concept"/>
					<xs:field xpath="@id"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MetadataStructuresType">
		<xs:annotation>
			<xs:documentation>MetadataStructuresType describes the structure of the metadata structure definitions container. It contains one or more metadata structure definition, which can be explicitly detailed or referenced from an external structure document or registry service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MetadataStructure" type="MetadataStructureType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>MetadataStructure provides the details of a metadata structure definition, which is defined as a collection of metadata concepts, their structure and usage when used to collect or disseminate reference metadata. A metadata structure definition performs several functions: it groups sets of objects into "targets" against which reference metadata may be reported. Targets define the structure of the reference metadata "keys" which identify specific types of reported metadata, and describe the valid values for populating the keys. Also, metadata structure definitions provide a presentational organization of concepts for reporting purposes. The structure of a reference metadata report is derived from this presentational structure.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DataStructuresType">
		<xs:annotation>
			<xs:documentation>DataStructuresType describes the structure of the data structure definitions container. It contains one or more data structure definition, which can be explicitly detailed or referenced from an external structure document or registry service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DataStructure" type="DataStructureType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>DataStructure provides the details of a data structure definition, which is defined as a collection of metadata concepts, their structure and usage when used to collect or disseminate data.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="StructureMappingsType">
		<xs:annotation>
			<xs:documentation>StructureMappingsType describes the structure of the structure mappings container. It contains one or more structure map, item scheme map, or representation map, which can be explicitly detailed or referenced from an external structure document or registry service.</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="StructureMap" type="StructureMapType">
				<xs:annotation>
					<xs:documentation>StructureMap provides the details or a structure map, which allows allows mapping between data dtructures or dataflows.</xs:documentation>
				</xs:annotation>
				<xs:unique name="StructureMap_UniqueEpochMap">
					<xs:selector xpath="structure:EpochMap"/>
					<xs:field xpath="@id"/>
				</xs:unique>
				<xs:unique name="StructureMap_UniqueDatePatternMap">
					<xs:selector xpath="structure:DatePatternMap"/>
					<xs:field xpath="@id"/>
				</xs:unique>
			</xs:element>
			<xs:element name="RepresentationMap" type="RepresentationMapType">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConceptSchemeMap" type="ConceptSchemeMapType">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CategorySchemeMap" type="CategorySchemeMapType">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganisationSchemeMap" type="OrganisationSchemeMapType">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReportingTaxonomyMap" type="ReportingTaxonomyMapType">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="ReportingTaxonomiesType">
		<xs:annotation>
			<xs:documentation>ReportingTaxonomiesType describes the structure of the reporting taxonomies container. It contains one or more reporting taxonomy, which can be explicitly detailed or referenced from an external structure document or registry service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReportingTaxonomy" type="ReportingTaxonomyType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>ReportingTaxonomy provides the details of a reporting taxonomy, which is a scheme which defines the composition structure of a data report where each component can be described by an independent data or metadata flow definition.</xs:documentation>
				</xs:annotation>
				<xs:unique name="ReportingTaxonomy_UniqueReportingCategory">
					<xs:selector xpath="structure:ReportingCategory"/>
					<xs:field xpath="@id"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProcessesType">
		<xs:annotation>
			<xs:documentation>ProcessesType describes the structure of the processes container. It contains one or more process, which can be explicitly detailed or referenced from an external structure document or registry service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Process" type="ProcessType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Process provides the details of a process, which is a scheme which defines or documents the operations performed on data in order to validate data or to derive new information according to a given set of rules. It is not meant to support process automation, but serves as a description of how processes occur. The primary use for this structural mechanism is the attachment of reference metadata regarding statistical processing. This must either contain the full details of the category scheme, or provide a name and identification information and reference the full details from an external structure document or registry service.</xs:documentation>
				</xs:annotation>
				<xs:unique name="Process_UniqueProcessStep">
					<xs:selector xpath="structure:ProcessStep"/>
					<xs:field xpath="@id"/>
				</xs:unique>
				<xs:unique name="Process_UniqueTransition">
					<xs:selector xpath="structure:Transition"/>
					<xs:field xpath="@id"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ConstraintsType">
		<xs:annotation>
			<xs:documentation>ConstraintsType describes the structure of the constraints container. It contains one or more constraint, which can be explicitly detailed or referenced from an external structure document or registry service. This container may contain both attachment and content constraints.</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="DataConstraint" type="MetadataConstraintType">
				<xs:annotation>
					<xs:documentation>DataConstraint specifies a sub set of the definition of the allowable or available content of a data set in terms of the content or in terms of the set of key combinations.</xs:documentation>
				</xs:annotation>
				<xs:unique name="DataConstraint_CubeRegionInclusion">
					<xs:selector xpath="structure:CubeRegion"/>
					<xs:field xpath="@include"/>
				</xs:unique>
			</xs:element>
			<xs:element name="MetadataConstraint" type="MetadataConstraintType">
				<xs:annotation>
					<xs:documentation>MetadataConstraint specifies a sub set of the definition of the allowable content of a metadata set.</xs:documentation>
				</xs:annotation>
				<xs:unique name="MetadataConstraint_MetadataTargetRegionInclusion">
					<xs:selector xpath="structure:MetadataTragetRegion"/>
					<xs:field xpath="@include"/>
				</xs:unique>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="ProvisionAgreementsType">
		<xs:annotation>
			<xs:documentation>ProvisionAgreementsType describes the structure of the provision agreements container. It contains one or more provision agreement, which can be explicitly detailed or referenced from an external structure document or registry service.</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="ProvisionAgreement" type="ProvisionAgreementType">
				<xs:annotation>
					<xs:documentation>ProvisionAgreement provides the details of a provision agreement, which is an agreement for a data provider to report data against a flow.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MetadataProvisionAgreement" type="MetadataProvisionAgreementType">
				<xs:annotation>
					<xs:documentation>MetadataProvisionAgreement provides the details of a metadata provision agreement, which is an agreement for a metadata provider to report reference metadata against a flow.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="CustomTypesType">
		<xs:annotation>
			<xs:documentation>CustomTypesType describes the structure of the custom type schemes container. It contains one or more custom type scheme, which can be explicitly detailed or referenced from an external structure document or registry service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomTypeScheme" type="CustomTypeSchemeType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>CustomTypeScheme provides the details of a custom type scheme, in which user defined operators are described.</xs:documentation>
				</xs:annotation>
				<xs:unique name="CustomTypeScheme_UniqueCustomType">
					<xs:selector xpath="structure:CustomtType"/>
					<xs:field xpath="@id"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VtlMappingsType">
		<xs:annotation>
			<xs:documentation>VtlMappingsType describes the structure of the VTL mappings schemes container. It contains one or more VTL mapping schemes, which can be explicitly detailed or referenced from an external structure document or registry service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VtlMappingScheme" type="VtlMappingSchemeType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>VtlMappingScheme provides the details of a VTL mapping scheme, in which VTL mappings are described.</xs:documentation>
				</xs:annotation>
				<xs:unique name="VtlMappingScheme_UniqueVtlMapping">
					<xs:selector xpath="structure:VtlMapping"/>
					<xs:field xpath="@id"/>
				</xs:unique>
				<xs:unique name="VtlMappingScheme_UniqueVtlAlias">
					<xs:selector xpath="structure:VtlMapping"/>
					<xs:field xpath="@alias"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NamePersonalisationsType">
		<xs:annotation>
			<xs:documentation>NamePersonalisationsType describes the structure of the name personalisation schemes container. It contains one or more name personalisation scheme, which can be explicitly detailed or referenced from an external structure document or registry service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NamePersonalisationScheme" type="NamePersonalisationSchemeType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>NamePersonalisationScheme provides the details of a name personalisation scheme, in which name personalisations are described.</xs:documentation>
				</xs:annotation>
				<xs:unique name="NamePersonalisationScheme_UniqueNamePersonalisation">
					<xs:selector xpath="structure:NamePersonalisation"/>
					<xs:field xpath="@id"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RulesetsType">
		<xs:annotation>
			<xs:documentation>RulesetsType describes the structure of the ruleset schemes container. It contains one or more ruleset scheme, which can be explicitly detailed or referenced from an external structure document or registry service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RulesetScheme" type="RulesetSchemeType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>RulesetScheme provides the details of a ruleset scheme, in which rulesets are described.</xs:documentation>
				</xs:annotation>
				<xs:unique name="RulesetScheme_UniqueRuleset">
					<xs:selector xpath="structure:Ruleset"/>
					<xs:field xpath="@id"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TransformationsType">
		<xs:annotation>
			<xs:documentation>TransformationsType describes the structure of the transformations container. It contains one or more transformation schemes, which can be explicitly detailed or referenced from an external structure document or registry service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransformationScheme" type="TransformationSchemeType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>TransformationScheme provides the details of a transformation scheme, in which transformations are described.</xs:documentation>
				</xs:annotation>
				<xs:unique name="TransformationScheme_UniqueTransformation">
					<xs:selector xpath="structure:Transformation"/>
					<xs:field xpath="@id"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="UserDefinedOperatorsType">
		<xs:annotation>
			<xs:documentation>UserDefinedOperatorsType describes the structure of the user defined operator schemes container. It contains one or more user defined operator scheme, which can be explicitly detailed or referenced from an external structure document or registry service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UserDefinedOperatorScheme" type="UserDefinedOperatorSchemeType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>UserDefinedOperatorScheme provides the details of a user defined operator scheme, in which user defined operators are described.</xs:documentation>
				</xs:annotation>
				<xs:unique name="UserDefinedOperatorScheme_UniqueUserDefinedOperator">
					<xs:selector xpath="structure:UserDefinedOperator"/>
					<xs:field xpath="@id"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>